
        h1 {
            text-align: center;
            color: #9453A6;
            font-family: 'Pattaya';
        }




        .rowf {
            width: 80vw;
            margin: 0 auto;
            display: grid;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 30% 30% 30% 40% ;
            gap: 15px;
            grid-template-areas:
                "img img img"
                "img img img "
                "img img img "
                "video video video"
                "footer footer footer"


        }

        .column {
            margin: 0 auto;
            align-items: center;


        }
    

        img {
            grid-area: img;
          
           /*  transition: all 0.5s ease-in-out; */
        }
        /* img:hover{
             transform: scale(0.8);
        } */
  footer {
            grid-area: footer;
        } 

        .video {
            grid-area: video;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin: 0 auto;
            
        

        }

        .v {
            margin: 0 auto;
            align-items: center;
            margin-left: 30px;
            border-radius:15px;
            transition: all 0.5s ease-in-out;
        }
       .v:hover{
             transform: scale(0.8);
       }
    img[src^="imgmardigara/imgl"] {

            margin-bottom: 15%;
            display: block;
               border-radius:15px;
               
        }

        .big {
            width: 30%;
            position: fixed;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }