  * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #f2f2f2;
        }

        .navbar-brand {
            font-family: 'Pattaya';
            font-size: 2rem;
        }
         .container-fluid {
            background-color:rgb(242, 204, 15,0.6) ;
            width: 100%;
            height: 90px;
        }

       

        .nav-link {
            font-family: 'Roboto:ital';
            font-size: 1.3rem;
        }

        .navbar {
            text-align: center;
        }

        .navbar-brand {
            font-family: 'Pattaya';
            font-size: 2rem;
        }
.nav-item{
    background-color: rgb(242, 204, 15,0.6);
     border-radius: 10px;
    margin: 0.5%;
   
}
        .nav-item:hover {
            background-color:rgba(140, 191, 63, 0.5);
            color: #9453A6;
            font-weight: bold;
            border-radius: 10px;
        }

        .form-control {
            width: auto;
        }
        .btn {
           border-radius:10px;
        }
        footer{
            margin-top:7% ;
        }
        .logo{
width:100px;
        }
         h6{
           text-align:center;
        }