  h1,
    h5 {
    text-align: center;
    color: #9453A6;
    font-family: 'Pattaya';
    }


    div {
    text-align: center;
    font-family: 'Pattaya'bold 6px;
    color: black;

    }

    #btn {
    text-align: center;
    font-family: 'Roboto:ital';
    border: 1px solid #9453A6;
    width: 70px;
    margin-left: 800px;
    border-radius: 10px;
     transition: all 0.2s ease-in-out;
     background-color: rgb(148,83,166,0.1);
    }
    #btn:hover{
      transform: scale(1.1);
    }

    #multiText{
      width: 30%;
      height:100px;
     align-items: center;
      border-radius: 10px;
    }

    footer {
    background-color: #8cbf3f;
    }