* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.navbar-nav {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    /* position: absolute; */
    top: 0;
    width: 100%;
    background-color: #ffffff; /* Adjust as needed */
    z-index: 2; /* Set a higher z-index value */
  }
}

.navbar-brand {
  font-family: "Pattaya";
  font-size: 2rem;
}

.container-fluid {
  background-color: rgb(242, 204, 15, 0.6);
  height: 90px;
}

.nav-link {
  font-family: "Roboto:ital";
  font-size: 1.3rem;
}

.navbar {
  text-align: center;
}

.navbar-brand {
  font-family: "Pattaya";
  font-size: 2rem;
}

.nav-item {
  background-color: rgb(242, 204, 15, 0.6);
  border-radius: 10px;
  margin: 0.5%;
}

.nav-item:hover {
  background-color: rgba(140, 191, 63, 0.5);
  color: #9453a6;
  font-weight: bold;
  border-radius: 10px;
}

/* Responsive adjustments for tablet */
@media (max-width: 992px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 1.1rem;
  }
}

/* Responsive adjustments for mobile */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }
}

.d-flex {
  padding-left: 35%;
}
.form-control {
  width: auto;
}
.btn {
  border-radius: 10px;
}
footer {
  margin-top: 7%;
}
.logo {
  width: 100px;
}
h6 {
  text-align: center;
}
