h1 {
  text-align: center;
  font-family: "Pattaya";
  color: #9453a6;
}
h3 {
  color: #8cbf3f;
  text-align: center;
  font-family: "Pattaya";
}

#tx {
  font-size: 1.1rem;
  font-family: "Roboto:ital";
  line-height: 1.5rem;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: block;
  margin: auto;
  width: 80%;
  background-color: rgb(148, 83, 166, 0.1);

  border-radius: 10px;
}

img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  width: 20%;
  margin: 2%;
  margin-right: 80%;
  transition: all 0.2s ease-in-out;
}
img:hover {
  transform: scale(1.1);
}
